{% extends "baseadmin.html.twig" %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <h5> Gérer les catégories</h5>
    <form class="form-inline mt-1" method="POST" action="{{ path('admin.categorie.ajout') }}">
        <div class="form-group mr-1 mb-2">
            <input type="text" class="sm" name="name">
            <button type="submit" class="btn btn-primary mb-2 btn-sm">Ajouter une nouvelle catégorie</button>
        </div>
    </form>  
    <table class="table table-striped">
        <caption></caption>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>
                        {{ categorie.name }}
                    </td>
                    <td>
                        {% if categorie.formations|length == 0 %}
                            <a href="{{ path('admin.categories.suppr', {id:categorie.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{categorie.name}}?')"> Supprimer </a>
                        {% else %}
                            <button  class="btn btn-danger" disabled>Supprimer</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>    
{% endblock %}    